# The application settings for Android libSDL port
AppSettingVersion=17
LibSdlVersion=1.2
AppName="aDosBox"
AppFullName=org.hystudio.android.dosbox
ScreenOrientation=h
InhibitSuspend=y
AppDataDownloadUrl="Data size is 1 Mb|dosbox-data.zip"
SdlVideoResize=y
SdlVideoResizeKeepAspect=n
NeedDepthBuffer=n
SwVideoMode=y
AppUsesMouse=y
AppNeedsTwoButtonMouse=y
AppNeedsArrowKeys=y
AppNeedsTextInput=y
AppUsesJoystick=y
AppHandlesJoystickSensitivity=n
AppUsesMultitouch=n
NonBlockingSwapBuffers=n
RedefinedKeys="SPACE RETURN PLUS MINUS F11 ESCAPE F5 F6 F7 F8"
AppTouchscreenKeyboardKeysAmount=4
AppTouchscreenKeyboardKeysAmountAutoFire=0
RedefinedKeysScreenKb="ESCAPE BACKSPACE SAPCE ENTER"
MultiABI=y
AppVersionCode=07402
AppVersionName="0.74.02"
CompiledLibraries="jpeg png sdl_mixer sdl_net sdl_sound"
CustomBuildScript=y
AppCflags=''
AppLdflags=''
AppSubdirsBuild=''
AppCmdline=''
ReadmeText='^You may press "Home" now - the data will be downloaded in background'
